html, body {
    margin: 0;
    padding: 0;
    }

* {
    box-sizing: border-box;
}

.body {
    width: 1300px;
    height: 1847px;
    margin: 0 auto;

    background-image: url("../img/bg/Background.svg");
}

/* header */

.banner-header {
    width:100%;
    height: 566px;

    background-image: url("../img/bg/header.svg");
    background-repeat: no-repeat;   
}

.border-header {
    width: 1022px;
    height: 168px;

    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

/* logo and name page's */

.header-logo {
    margin: 0;
}

.name-logo {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
}

.name {
    margin: 23px 4px;

    font-size: 41px;
    font-weight: 300;
    letter-spacing: 0.2px;
    color: #fff;
    font-family: "Lucida Sans";
    text-align: center;
    text-transform: uppercase;
    transform: scale(1.007);
}

/* navigation */

.navigation {
    width: 454px;
    height: 42px;

    margin-top: 70px;

    background-image: url("../img/nav/Rectangle.svg");
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 440px;
    height: 100%;

    margin: 0;
    text-align: center;

    list-style-type: none; 
}

.nav-icon {
    margin-top: 0px;
    padding-right: 5px;
}

.link {
    display: inline-block;
    padding-top: 9px;

    text-transform: uppercase;
}

.link a {
    text-decoration: none;
    padding: 0;
    margin: 0;

    font-size: 17px;
    letter-spacing: 0px;
    color: #9b7d08;
    font-family: "Segoe WP";
    text-align: center;
}

/* banner */

.banner {
    height: 398px;
}

.border-banner {
    width: 1000px;
    
    margin: 0 auto;
}

.movie {
    position: relative;
    z-index: 1;

    width: 549px;
    height: 327px;

    background-image: url("../img/movie/movie.png");
    background-position-x: -150px;
}


/* main-text */

.main-text {
    display: inline-block;
    position: relative;
    bottom: 117px;
    left: 38px;
}

.banner-name {
    font-size: 63px;
    letter-spacing: 0.5px;
    line-height: 1.2;

    color: #f5c506;
    font-family: "Asap", sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    transform: scale();
}

.color-text {
    position: relative;
    left: 8px;

    letter-spacing: 0.5px;

    color: #fff;
}

/* arrow */

.arrow {
    position: relative;
    bottom: 100px;
}

/* menu */

.main-menu {
    display: inline-block;
    width: 1300px;
    height: 212px;

    background-image: url(../img/bg/bg-menu.svg);

    box-shadow: 0 -1px 10px rgba(0,0,0,0.5);
}

.menu {
    display: grid;
    justify-content: space-between;

    width: 1022px;
    height: 100%;
    margin: 0 auto;
    padding: 0px;

    grid-template-columns: repeat(3, 340px);
}

/* menu link */

.menu-link {
    height: 100%;

    font-size: 27px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Segoe UI";
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;

    list-style-type: none; 
}

.menu-link-1 {
    padding: 33px 4px 0 0;
}

.menu-link-1 figcaption {
    letter-spacing: 0.375px;
    font-weight: 100;
}

.menu-link-1 span {
    display: inline-block;

    padding: 2px 0 0 26px;
}

.menu-link-2 {
    padding: 9px 0 0 22px;
}

.menu-link-2 span {
    display: inline-block;

    padding: 6px 0 0 0;
}

.menu-link-3 {
    padding: 26px 24px 0 0;
}

.menu-link-3 span {
    display: inline-block;

    padding: 1px 0 0 6px;
}

.menu-link-3 figcaption {
    letter-spacing: 0.2px;
    font-weight: 100;
}